@import url("https://fonts.googleapis.com/css?family=Alegreya:700 |Fredoka+One&display=swap");


html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  position: relative;
}

div#root {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

div.App {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

#appTitle {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: 700;
}


div.jumbotron {
  margin: auto;
  position: relative;
  padding: 0px;
  /* background-image: url(./images/Humpback.jpg); */
  min-height: 40%;
  background-color: white;
  border: 7px solid grey;
  border-radius: 0px;
}

div.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}



.form-inline {
  width: 100%;
  margin: auto;
}

#searchBarContainer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#searchBar {
  width: 100%;
  text-align: center;
}


#searchButton {
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  width: 50%;
  margin-top: -11px;
  padding: 0px;
  background-color: #378dea;
  border-color: #378dea;
}

#headerPic {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Results Header*/

#greetingCard {
  margin:auto;
  text-align: center;
  font-family: "Alegreya" , serif;
  font-weight: 700;
  border: 7px solid grey;
  background-color: white;
}

h5#greetingBody {
  padding: 5px;
  font-family: "Alegreya" , serif;
  font-weight: 700;
  margin-top: 5px;
}


/* Results Forecast */

div#forecast {
  margin: auto;
  width: 80%;
  font-family: "Alegreya" , serif;
  font-weight: 700;
  background-color: white;
  border: 10px solid grey;
}

.h5Forecast {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: black;
  font-family: "Alegreya" , serif;
  font-weight: 700;
  text-align: center;

}

#resultsContainer {
  height: 60%;
  min-height: 50%;
  position: relative;
}

/* Nav Bar */

#mainNav {
  display: inline;
  position: relative;
}

#nav-container {
  position: relative;
  height: 75px;
}

#mainNav ul {
  margin-top: 10px;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom: 10px;
  width: 95%;
  text-align: center;
  padding: 0px;
}

#form-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 60%;
}

#favorite-options {
  text-align-last: center;
  height: 25px;
  width: 100%;
  background-color: #378dea;
  border-color: #378dea;
}

input.edit-nav {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 85%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#mainNav ul a {
  background: grey;
  color: black;
  border-radius: 3px;
  padding: 2px;
  font-family: "Alegreya" , serif;
  font-weight: 700;
  text-align: center;
}


#mainNav li {
  display: inline-block;
  margin-right: 15px;
}

#mainNav .active {
  background-color: #26942e;
  text-decoration: none;
}



/* Forecast Flex Container*/

/* #forecast-container {
} */

#conditions {
  background-color: #f1f1f1;
  margin: auto;
  text-align: center;
  position: relative;
}

#conditions-header {
  font-family: "Alegreya", serif;
  font-weight: 700;
}

#conditions-desc {
  font-family: "Alegreya", serif;
  font-weight: 700;
  margin-top: -5px;
}
#forecast-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#forecast-flex div {
  font-family: "Alegreya", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  margin: 15px;
  text-align: center;
  line-height: 25px;
  font-size: 22px;
}

/* Footer */

#footer {
  background-color: grey;
  height: 13.5%;
  position: relative;
  width: 100%;
}