h1 {
  margin: auto;
  width: 300px;
  text-align: center;
}

p {
  margin: auto;
  width: 300px;
  text-align: center;
}

.form-inline {
  width: 400px;
  margin: auto;
}

.form-inline .form-control {
  width: 300px;
  margin: auto;
  text-align: center;
}

.btn-primary {
  margin-top: 20px;
  margin: auto;
  width: 50%;
}