h1 {
  margin: auto;
  width: 300px;
  text-align: center;
}

h3 {
  margin: auto;
  width: 300px;
  text-align: center;
}

div.jumbotron {
  margin: auto;
  padding: 0px;
}

div.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

p {
  margin: auto;
  width: 300px;
  text-align: center;
}

.form-inline {
  width: 400px;
  margin: auto;
}

#searchBar {
  width: 300px;
  margin-left: 50px;
  margin-top: 10px;
  text-align: center;
}


#searchButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#construction {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}